:root {
    --color-name-proc: #474c51;
    --border: #5750500d;
}
.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none; 
       -khtml-user-select: none; 
         -moz-user-select: none; 
          -ms-user-select: none; 
              user-select: none; 
}
* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Roboto,Arial,Helvetica,sans-serif;
}
.remind {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.remind__content {
    text-align: center;
    margin: 0 10px;
}
.remind__content strong {
    color: #ff001f;
}
.remind__img {
    width: 30px;
    height: 30px;
}


.a_omitted {
    text-decoration: none;
    color: white;
}

.remind a{
    background-color: #2183f6;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    font-size: 12px;
    border-radius: 3px;
}
/* header */
.header_pc {
    background-color: #cd1818;
}


.flex {
    display: flex;
}

.app {
    background-color: #5e0d0d;
    background-image: url("../img/bg-17-7.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 30px;
}
.pc-logo {
    width: 187px;
}
.pc-logo img {
    height: 40px;
}
#txtSearch {
    width: 465px;
    padding: 0 60px 0 15px;
}
.form-search{
    position: relative;
}

.form-search input, .form-search button{
    outline: none;
    border: 0;
    height: 38px;
    border-radius: 4px;
}
.gl {
    color: white;
    font-weight: 600 !important;
    font-size: 22px;
}

#btnSearch{
    right: 0;
    background-color: #333;
    position: absolute;
    padding: 0 18px;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    color: white;
}

.header_mobile {
    display: none;
}

.container {
    max-width: 1200px !important;
    margin: 0 auto;
}

body {
    background-color: white;
}

.header_pc-top {
    height: 56px;
    align-items: center;
}

.h_pc-right {
    min-width: 280px;
    max-width: 350px;
}

.h_pc-left {
    flex-grow: 1;
}
.h_li {
    text-align: center;
    margin-left: 20px;
}
.h_li-icon {
    font-size: 24px;
    margin-bottom: 3px;
}

.h_li img {
    height: 24px;
}
.h_li-text {
    font-size: 12px;
}

.hbot_li {
    color: white;
}
.header_pc-bottom{
    height: 36px;
    align-items: center;
    background-color: #252525;
    justify-content: space-between;
}

.hbot_li-icon {
    font-size: 20px;
}
.hbot_li-text {
    margin-left: 3px;
    font-size: 13px;
    line-height: 30px;
}

.sale-cd-tit, .sale-cd-timer {
    margin: 0 auto;
}

.baner_top {
    flex-direction: column;
    position: relative;
}

.sale-cd-timer {
    position: absolute;
    bottom: 25px;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
} 
.time_txt {
    color: rgb(255, 204, 1);
    font-size: 25px;
}

.frame {
    border-radius: 5px;
    background-color: white;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.banner_frame {
    padding: 5px;
}

.slide {
    position: relative;
    overflow-x: hidden;
}
#slide_img {
    width: 795px;
    height: 300px;
    position: relative;
}
.slide_arrow {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    position: absolute;
    top: 50%;
    opacity: .75;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    border: 1px solid #a7a7b1;
    z-index: 999;
}
.slide_arrow i {
    line-height: 48px;
    font-size: 25px;
}

.slide_arrow-left {
    left: 20px;
}
.slide_arrow-right {
    right: 20px;
    
}

.slide-proc-name {
    max-width: 160px;
    list-style: none;
    text-align: center;
}
.slide-pros-intro {
    padding: 5px;
}
.slide-proc-name a {
    color: black;
    text-decoration: none;
    text-align: center;
    word-wrap: inherit;
}

.clicked {
    font-weight: bold;
}

.intro_right {
    flex-direction: column;
    align-items: center;
}
.baner_right {
    margin-bottom: 2px;
}
.baner_right img {
    border-radius: 5px;
    width: 383px;
    height: 100px;
}

.short_news {
    width: 96%;
    padding: 5px;
}
.short_news-title{
    justify-content: space-between;
    margin: 5px 0;
}
.hot_news {
    padding: 10px 0px 0px 5px;
}
.hot_news:hover img{
    border: 1px solid #5e0d0d;
}
.hot_news img{
    width: 70px;
    height: 40px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #dee2e6;
}

.title_hot_news {
    font-weight: bold;
    font-size: 15px;
    color: black;
}

.square {
    width: 16.66666%;
    height: 160px;
    border-right: 1px solid #6e62620d;
    border-bottom: 1px solid #0000000d;
    box-sizing: border-box;
    justify-content: center;
    padding: 15px;
    flex-direction: column;
    align-items: center;

}
.square:hover {
    box-shadow: 0 1px 0px 0 rgb(0 0 0 / 20%), 0 4px 13px 0 rgb(0 0 0 / 19%);
}
.wrap_img {
    background-color: #f4f4f4;
    border-radius: 50%;
    width: 95px;
    height: 95px;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.wrap_img img {
    height: 60px;
}
.frame_category {
    flex-wrap: wrap;
}
.cate_name {
    color: black;
    font-size: 15px;
}

.leave_animate{
    animation: animateright 1s;
    animation-delay: 4s;
}
@keyframes animateright{
    from {
        right:0;
        opacity:1
    } 
    to {
        right:800px;
        opacity:0
    }
}


/* banner middle */
.banner_middle {
    height: 200px;
}
.banner_middle img {
    border-radius: 5px;
}
.banner_bot {
    justify-content: space-between;
    background-color: transparent;
}
.banner_bot img {
    border-radius: 5px;
    width: 590px;
    height: 160px;
}
/* sale_middle */
.sale_middle {
    height: 800px;
}

/* discount_phone */
.discount_phone {
    height: 1028px;
}

/* discount_laptop */
.discount_laptop {
    height: 1028px;
}

/* accessory_frame */
.accessory_frame {
    height: 320px;
}

.other_frame {
    height: 115px;
    justify-content: space-between;
}
.otf {
    background-color: white;
    width: 394px;
    border-radius: 7px;
}

.footer {
    height: 330px;
    background-color: white;
}

.footer-top {
    height: 282px;
}

.footer-bottom {
    background-color: #f2f2f2;
    height: calc(100% - 282px)
}